#gameBoard{
    border: 5px solid darkblue;
    background-color: black;
    border-radius: 10px;
    width:460px;
    font-family: 'Press Start 2P', cursive;
    margin: auto;
    padding: auto;
    
}   
#scores{
    border: 5px solid darkblue;
    border-radius: 10px;
    margin: 15px;
}

#game{
    width:420px;
    height: 465px;
    margin:auto;
    
}
#lifes{
    margin:15px;
    height: 20px;
    border: 5px solid darkblue;
    border-radius: 10px;
    
}
h1{
    text-align: center;
    color:white;
    font-size: 15px;
}