#gameBoard{
    border: 5px solid darkblue;
    background-color: black;
    border-radius: 10px;
    width:460px;
    font-family: 'Press Start 2P', cursive;
}   
#scores{
    border: 5px solid darkblue;
    border-radius: 10px;
    margin: 15px;
}

#game{
    position:relative;
    width:420px;
    height: 465px;
    margin:auto;
    margin-bottom:30px;
}
#lives{
    margin-top: 15px;
    margin:15px;
    height: 20px;
    border: 5px solid darkblue;
    border-radius: 10px;
    
}
h1{
    text-align: center;
    color:white;
    font-size: 15px;
}
.wall{
    position:absolute;
    border: 7.5px solid darkblue;

}
.pacdot{
    border: solid white;
    background-color: white;
    width: 4px;
    height: 5px;
    margin:2.5px;
    border-radius: 90%;
    position: absolute;
}
.energizer{
    border: 7.5px solid brown;
    border-radius: 99%;
    position: absolute;
}
.pacman{
    border: 7.5px solid yellow;
    border-radius: 99%;
    position: absolute;
}
#Blinky{
    border: 7.5px solid red;
    position: absolute;
}
#Pinky{
    border: 7.5px solid pink;
    position: absolute;
}   
#Inky{ 
    border: 7.5px solid blue;
    position: absolute;
}
#Clyde{
    border: 7.5px solid orange;
    position: absolute;
}
.lives{
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    margin-left:5px;
    display: inline-block;
}
